DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_bot_client_id_here

# Thông số kết nối MySQL của Web2M
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=web2m_database

# Cấu hình Ngân Hàng tạo mã QR tự động
BANK_ID=970422 # Ví dụ: MBBank là 970422, VCB là 970436 (Xem mã BIN tại vietqr.io)
BANK_ACCOUNT=123456789
BANK_NAME=NGUYEN_VAN_A
